.promo {
  display: flex;
  flex-direction: column;
}

.promo__title-wrapper {
  min-height: 283px;
  background-color: #fafafa;
  background-image: url(../../img/promo/hero-mobile@2x1.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 30px;
  padding-right: 30px;
}

.promo__title {
  align-self: center;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  color: #000000;
  text-align: center;
  margin: 0;
  margin-top: 73px;
}

.promo__cat {
  list-style: none;
  margin: 0;
  padding: 0;
}

.promo__item {
  background-color:#63d1bb;
  padding-left: 24px;
  padding-top: 30px;
  padding-bottom: 31px;

  &--second {
    background-color:#56c3b2;
  }
}

.promo__link {
  display: inline-block;
  width: 130px;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
}
