.reviews {
  display: flex;
  flex-direction: column;
  padding: 0 30px 45px 30px;
  background-image: url("../img/zigzag-line-desktop.svg");
  background-repeat: no-repeat;
  background-position: bottom;
}

.reviews__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
  margin: 0;
  margin-bottom: 14px;
}

.review {
  list-style-type: none;
  padding: 0;

  &--hidden {
    display: none;
  }
}

.review__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  margin-bottom: 33px;
}

.bio__name {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  margin: 0;
  margin-bottom: 7px;
}

.bio__inst {
  margin: 0;
}

.reviews__button {
  margin: 0;
}
