.about {
  padding: 33px 30px 58px 30px;
}

.about__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
  margin: 0;
  margin-bottom: 28px;
}

.advantages {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
}

.advantages__item {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 30px;
  padding-top: 54px;
}

.advantages__item:last-child {
  margin-bottom: 0px;
}

.advantages__item--flower {
  background-image: url(../../img/about/flower.svg);
  background-repeat: no-repeat;
  background-size: 32px 38px;
}

.advantages__item--money {
  background-image: url(../../img/about/money.svg);
  background-repeat: no-repeat;
  background-size: 47px 27px;
}

.advantages__item--likes {
  background-image: url(../../img/about/likes.svg);
  background-repeat: no-repeat;
  background-size: 34px 27px;
}

.advantages__item--knitting {
  background-image: url(../../img/about/knitting.svg);
  background-repeat: no-repeat;
  background-size: 35px 34px;
}

.advantages__item--rocket {
  background-image: url(../../img/about/rocket.svg);
  background-repeat: no-repeat;
  background-size: 55px 23px;
}

.advantages__item--gift {
  background-image: url(../../img/about/gift.svg);
  background-repeat: no-repeat;
  background-size: 33px 32px;
}

.advantages__description {
  margin: 0;
}
