.about {
  padding: 30px 30px 0 30px;
  width: 100%;
  max-width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding: 55px 50px 11px 50px;
    max-width: 768px;
  }

  @media (min-width: $desktop-width) {
    padding: 68px 50px 90px 225px;
    max-width: 1150px;
  }
}

.about__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: $dark-color;
  margin: 0;
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 116%;
  }
}
