.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $white-color;
  border: 2px solid $gray-color;
  color: $dark-color;
  padding: 16px 70px;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    background-color: $gray-color;
    color: $white-color;
  }

  &:active {
    background-color: $gray-color;
    color: $button-text-active-color;
  }
}
