.catalog-container {
  @media (min-width: $desktop-width) {
    padding-bottom: 105px;
  }
}

.catalog-container__title {
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  color: #000000;
  background-color: #f1f1f1;
  margin: 0;
  padding-top: 74px;
  padding-bottom: 74px;
}

.catalog {
  padding: 30px 29px 0 29px;

  @media (min-width: $tablet-width) {
    padding: 67px 50px 0 50px;
  }
}
