.catalog-container {
  @media (min-width: $tablet-width) {
    padding-bottom: 64px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 105px;
  }
}

.catalog-container__title {
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  color: #000000;
  background-color: #f1f1f1;
  margin: 0;
  padding-top: 73px;
  padding-bottom: 74px;
}

.catalog {
  padding: 13px 29px 0 29px;
  max-width: 320px;
  width: 100%;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding: 67px 50px 0 50px;
    max-width: 768px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1150px;
  }
}
