.category-products {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
  }

  &::after {
    @media (min-width: $tablet-width) {
      position: absolute;
      content: "";
      height: 24px;
      width: 100%;
      background-image: url("data:image/svg+xml,%3Csvg width='768' height='24' viewBox='0 0 768 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M749.784 0C740.142 0 740.142 9.88235 730.567 9.88235C720.992 9.88235 720.925 0 711.35 0C701.776 0 701.709 9.88235 692.134 9.88235C682.492 9.88235 682.492 0 672.85 0C663.209 0 663.209 9.88235 653.634 9.88235C643.992 9.88235 643.992 0 634.417 0C624.776 0 624.776 9.88235 615.201 9.88235C605.626 9.88235 605.358 0 595.783 0C586.142 0 586.142 9.88235 576.567 9.88235C566.992 9.88235 566.858 0 557.283 0C547.642 0 547.642 9.88235 538.067 9.88235C528.425 9.88235 528.425 0 518.783 0C509.142 0 509.142 9.88235 499.567 9.88235C489.925 9.88235 489.925 0 480.35 0C470.776 0 470.642 9.88235 461 9.88235C451.358 9.88235 451.358 0 441.783 0C432.142 0 432.142 9.88235 422.567 9.88235C412.925 9.88235 412.925 0 403.283 0C393.642 0 393.642 9.88235 384.067 9.88235C374.425 9.88235 374.425 0 364.85 0C355.209 0 355.209 9.88235 345.634 9.88235C335.992 9.88235 335.992 0 326.417 0C316.776 0 316.776 9.88235 307.134 9.88235C297.492 9.88235 297.492 0 287.85 0C278.209 0 278.209 9.88235 268.567 9.88235C258.925 9.88235 258.925 0 249.283 0C239.642 0 239.642 9.88235 230 9.88235C220.358 9.88235 220.358 0 210.717 0C201.075 0 201.075 9.88235 191.433 9.88235C181.791 9.88235 181.791 0 172.15 0C162.508 0 162.508 9.88235 152.933 9.88235C143.291 9.88235 143.291 0 133.65 0C124.008 0 124.008 9.88235 114.366 9.88235C104.724 9.88235 104.724 0 95.0826 0C85.4409 0 85.4409 9.88235 75.7991 9.88235C66.1574 9.88235 66.1574 0 56.5157 0C47.1417 0 47.1417 9.88235 37.5 9.88235C27.8583 9.88235 27.8583 0 18.2835 0C8.70869 0 8.64174 9.88235 -1 9.88235V24H769V9.88235C759.358 9.88235 759.358 0 749.784 0Z' fill='white'/%3E%3C/svg%3E%0A");
      bottom: 0;
    }

    @media (min-width: $desktop-width) {
      position: absolute;
      content: "";
      height: 34px;
      width: 100%;
      background-image: url("data:image/svg+xml,%3Csvg width='1150' height='34' viewBox='0 0 1150 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1168.8 0C1153.15 0 1153.15 14 1137.61 14C1122.07 14 1121.96 0 1106.41 0C1090.87 0 1090.76 14 1075.22 14C1059.57 14 1059.57 0 1043.91 0C1028.26 0 1028.26 14 1012.72 14C997.065 14 997.065 0 981.522 0C965.87 0 965.87 14 950.326 14C934.783 14 934.348 0 918.804 0C903.152 0 903.152 14 887.609 14C872.065 14 871.848 0 856.304 0C840.652 0 840.652 14 825.109 14C809.456 14 809.456 0 793.804 0C778.152 0 778.152 14 762.609 14C746.956 14 746.957 0 731.413 0C715.87 0 715.652 14 700 14C684.348 14 684.348 0 668.804 0C653.152 0 653.152 14 637.609 14C621.956 14 621.956 0 606.304 0C590.652 0 590.652 14 575.109 14C559.456 14 559.457 0 543.913 0C528.261 0 528.261 14 512.717 14C497.065 14 497.065 0 481.522 0C465.87 0 465.87 14 450.217 14C434.565 14 434.565 0 418.913 0C403.261 0 403.261 14 387.609 14C371.957 14 371.957 0 356.304 0C340.652 0 340.652 14 325 14C309.348 14 309.348 0 293.696 0C278.043 0 278.043 14 262.391 14C246.739 14 246.739 0 231.087 0C215.435 0 215.435 14 199.891 14C184.239 14 184.239 0 168.587 0C152.935 0 152.935 14 137.283 14C121.63 14 121.63 0 105.978 0C90.3261 0 90.3261 14 74.6739 14C59.0217 14 59.0217 0 43.3696 0C28.1522 0 28.1522 14 12.5 14C-3.15218 14 -3.15218 0 -18.6957 0C-34.2391 0 -34.3478 14 -50 14V34H1200V14C1184.35 14 1184.35 0 1168.8 0Z' fill='white'/%3E%3C/svg%3E%0A");
      bottom: 0;
    }
  }
}


.category-products__item {
  display: flex;
  align-items: center;
  background-color: $accent-color;
  padding-right: 21px;
  cursor: pointer;

  &--interior {
    fill: $category-first-item-color;

    &:hover {
      background-color: $accent-hover-color;
      transform: translate(0, -5px);
      fill: $category-first-item-hover-color;
    }

    &:active {
      transform: translate(0);
      fill: $category-first-item-active-color;
    }
  }

  &--toys {
    fill: $category-second-item-color;

    &:hover {
      background-color: $second-accent-hover-color;
      transform: translate(0, -5px);
      fill: $category-second-item-hover-color;
    }

    &:active {
      transform: translate(0);
      fill: $category-second-item-active-color;
    }
  }

  @media (min-width: $tablet-width) {
    width: 334px;
    padding-right: 36px;
  }

  @media (min-width: $desktop-width) {
    width: 525px;
  }
}

.category-products__link {
  display: inline-block;
  width: 100%;
  padding-left: 24px;
  padding-top: 30px;
  padding-bottom: 31px;
  font-weight: 700;
  font-size: 19px;
  line-height: 126%;
  color: $white-color;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    padding-bottom: 38px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 62px;
  }
}
