.category-products {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
  }

  &::after {
    @media (min-width: $tablet-width) {
      position: absolute;
      content: "";
      height: 24px;
      width: 100%;
      background-image: url("data:image/svg+xml,%3Csvg width='39' height='24' viewBox='0 0 39 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_33792_181)'%3E%3Cpath d='M750.783 0C741.142 0 741.142 9.88235 731.567 9.88235C721.992 9.88235 721.925 0 712.35 0C702.776 0 702.709 9.88235 693.134 9.88235C683.492 9.88235 683.492 0 673.85 0C664.209 0 664.209 9.88235 654.634 9.88235C644.992 9.88235 644.992 0 635.417 0C625.776 0 625.776 9.88235 616.201 9.88235C606.626 9.88235 606.358 0 596.783 0C587.142 0 587.142 9.88235 577.567 9.88235C567.992 9.88235 567.858 0 558.283 0C548.642 0 548.642 9.88235 539.067 9.88235C529.425 9.88235 529.425 0 519.783 0C510.142 0 510.142 9.88235 500.567 9.88235C490.925 9.88235 490.925 0 481.35 0C471.776 0 471.642 9.88235 462 9.88235C452.358 9.88235 452.358 0 442.783 0C433.142 0 433.142 9.88235 423.567 9.88235C413.925 9.88235 413.925 0 404.283 0C394.642 0 394.642 9.88235 385.067 9.88235C375.425 9.88235 375.425 0 365.85 0C356.209 0 356.209 9.88235 346.634 9.88235C336.992 9.88235 336.992 0 327.417 0C317.776 0 317.776 9.88235 308.134 9.88235C298.492 9.88235 298.492 0 288.85 0C279.209 0 279.209 9.88235 269.567 9.88235C259.925 9.88235 259.925 0 250.283 0C240.642 0 240.642 9.88235 231 9.88235C221.358 9.88235 221.358 0 211.717 0C202.075 0 202.075 9.88235 192.433 9.88235C182.791 9.88235 182.791 0 173.15 0C163.508 0 163.508 9.88235 153.933 9.88235C144.291 9.88235 144.291 0 134.65 0C125.008 0 125.008 9.88235 115.366 9.88235C105.724 9.88235 105.724 0 96.0826 0C86.4409 0 86.4409 9.88235 76.7991 9.88235C67.1574 9.88235 67.1574 0 57.5157 0C48.1417 0 48.1417 9.88235 38.5 9.88235C28.8583 9.88235 28.8583 0 19.2835 0C9.70869 0 9.64174 9.88235 0 9.88235V24H770V9.88235C760.358 9.88235 760.358 0 750.783 0Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_33792_181'%3E%3Crect width='39' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
      bottom: 0;
    }

    @media (min-width: $desktop-width) {
      height: 34px;
      background-image: url("data:image/svg+xml,%3Csvg width='127' height='34' viewBox='0 0 127 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_34016_200)'%3E%3Cpath d='M1218.8 0C1203.15 0 1203.15 14 1187.61 14C1172.07 14 1171.96 0 1156.41 0C1140.87 0 1140.76 14 1125.22 14C1109.57 14 1109.57 0 1093.91 0C1078.26 0 1078.26 14 1062.72 14C1047.07 14 1047.07 0 1031.52 0C1015.87 0 1015.87 14 1000.33 14C984.783 14 984.348 0 968.804 0C953.152 0 953.152 14 937.609 14C922.065 14 921.848 0 906.304 0C890.652 0 890.652 14 875.109 14C859.456 14 859.456 0 843.804 0C828.152 0 828.152 14 812.609 14C796.956 14 796.957 0 781.413 0C765.87 0 765.652 14 750 14C734.348 14 734.348 0 718.804 0C703.152 0 703.152 14 687.609 14C671.956 14 671.956 0 656.304 0C640.652 0 640.652 14 625.109 14C609.456 14 609.457 0 593.913 0C578.261 0 578.261 14 562.717 14C547.065 14 547.065 0 531.522 0C515.87 0 515.87 14 500.217 14C484.565 14 484.565 0 468.913 0C453.261 0 453.261 14 437.609 14C421.957 14 421.957 0 406.304 0C390.652 0 390.652 14 375 14C359.348 14 359.348 0 343.696 0C328.043 0 328.043 14 312.391 14C296.739 14 296.739 0 281.087 0C265.435 0 265.435 14 249.891 14C234.239 14 234.239 0 218.587 0C202.935 0 202.935 14 187.283 14C171.63 14 171.63 0 155.978 0C140.326 0 140.326 14 124.674 14C109.022 14 109.022 0 93.3696 0C78.1522 0 78.1522 14 62.5 14C46.8478 14 46.8478 0 31.3043 0C15.7609 0 15.6522 14 0 14V34H1250V14C1234.35 14 1234.35 0 1218.8 0Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_34016_200'%3E%3Crect width='127' height='34' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    }
  }
}


.category-products__item {
  position: relative;
  background-color: $accent-color;

  &--toys {
    background-color: $second-accent-color;

    @media (min-width: $desktop-width) {
      background-position: 420px 20px;

      &:hover {
        background-color: $second-accent-hover-color;
        transform: translate(0, -5px);

        .category-products__link::after {
          opacity: 0.7;
        }
      }

      &:active {
        transform: translate(0);

        .category-products__link::after {
          opacity: 0.3;
        }
      }
    }
  }

  &--interior {
    @media (min-width: $desktop-width) {
      background-position: 440px 20px;

      &:hover {
        background-color: $accent-hover-color;
        transform: translate(0, -5px);

        .category-products__link::after {
          opacity: 0.7;
        }
      }

      &:active {
        transform: translate(0);

        .category-products__link::after {
          opacity: 0.3;
        }
      }
    }
  }

  @media (min-width: $tablet-width) {
    width: 334px;
    padding-left: 36px;
  }

  @media (min-width: $desktop-width) {
    width: 525px;
  }
}

.category-products__link {
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 30px;
  padding-top: 26px;
  padding-bottom: 31px;
  font-weight: 700;
  font-size: 19px;
  line-height: 126%;
  color: $white-color;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 150%;
    padding-left: 0;
    padding-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 47px;
  }

  &::after {
    position: absolute;
    content: "";
    background-repeat: no-repeat;
  }

  &--toys::after {
    right: 27px;
    bottom: 22px;
    width: 60px;
    height: 60px;
    opacity: 0.5;
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 43.9933L27.4 60V36.5436L0 20.4362V43.9933ZM51.3 12.4832V15C51.3 16.8121 47.8 18.3221 43.6 18.3221C39.3 18.3221 35.9 16.8121 35.9 15V10.8725C36.2 12.5839 39.5 13.9933 43.6 13.9933C47.9 13.9933 51.3 12.4832 51.3 10.6711C51.3 8.85907 47.8 7.349 43.6 7.349C43.3 7.349 42.9 7.349 42.6 7.349L37.6 4.42954V7.55034C37.6 9.36242 34.1 10.8725 29.9 10.8725C27.2 10.8725 24.9 10.2685 23.5 9.36242C23.3 9.16108 23.1 8.95973 22.8 8.75839C22.4 8.3557 22.2 7.95302 22.2 7.55034V4.5302L17.4 7.349C17.1 7.349 16.7 7.349 16.3 7.349C12 7.349 8.60001 8.85907 8.60001 10.6711C8.60001 12.4832 12.1 13.9933 16.3 13.9933C20.4 13.9933 23.7 12.5839 24 10.8725V15C24 16.8121 20.5 18.3221 16.3 18.3221C12 18.3221 8.60001 16.8121 8.60001 15V12.5839L2.60001 16.1074L30.1 32.2148L57.5 16.2081L51.3 12.4832ZM37.7 22.7517C37.7 24.5638 34.2 26.0738 30 26.0738C25.7 26.0738 22.3 24.5638 22.3 22.7517V18.6242C22.6 20.3356 25.9 21.745 30 21.745C34.1 21.745 37.4 20.3356 37.7 18.6242V22.7517ZM32.6 36.745V60L60 43.9933V20.7383L32.6 36.745ZM29.9 6.6443C34.2 6.6443 37.6 5.13423 37.6 3.32215C37.6 1.51007 34.1 0 29.9 0C25.6 0 22.2 1.51007 22.2 3.32215C22.2 5.13423 25.6 6.6443 29.9 6.6443Z' fill='%23149080'/%3E%3C/svg%3E");

    @media (min-width: $tablet-width) {
      bottom: 0;
      top: 33px;
      right: 33px;
    }
  }

  &--interior::after {
    right: 34px;
    bottom: 18px;
    width: 42px;
    height: 62px;
    opacity: 0.5;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='62' viewBox='0 0 40 62' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.162 37.7172C14.8628 38.7124 14.9625 39.9067 15.162 41.2999C15.6608 43.8874 16.8578 47.2711 17.5561 50.9533H22.6433C23.3416 47.3706 24.5386 43.987 25.1371 41.2999C25.4364 39.9067 25.4364 38.6129 25.1371 37.7172C24.8379 36.8216 24.2394 36.1249 23.1421 35.4283H17.1571C15.96 36.1249 15.3615 36.8216 15.162 37.7172Z' fill='%23149080'/%3E%3Cpath d='M26.9327 57.6212H13.1671C11.8704 57.6212 10.8729 58.6164 10.8729 59.8106V62H13.1671H26.9327H29.227V59.8106C29.227 58.6164 28.2295 57.6212 26.9327 57.6212Z' fill='%23149080'/%3E%3Cpath d='M34.015 2.18943H22.3441C22.3441 0.995196 21.3466 0 20.0499 0C18.7531 0 17.7556 0.995196 17.7556 2.18943H6.08478L0 27.5669C0.798005 27.0693 1.59602 26.5717 2.59352 26.5717C3.99003 26.5717 4.78803 27.3679 5.48629 27.965C6.18454 28.5621 6.68329 28.7611 6.88279 28.7611C7.18204 28.7611 7.68079 28.4626 8.37905 27.965C9.0773 27.4674 9.97505 26.5717 11.2718 26.5717C12.5686 26.5717 13.4663 27.3679 14.1646 27.965C14.8628 28.4626 15.3616 28.7611 15.6608 28.7611C15.7606 28.7611 15.9601 28.6616 16.2593 28.5621C16.4588 28.4626 16.7581 28.164 17.1571 27.965C17.6559 27.5669 18.2544 26.9698 19.1521 26.7707C19.4514 26.6712 19.7506 26.6712 20.0499 26.6712C21.3466 26.6712 22.2444 27.4674 22.9426 28.0645C23.6409 28.5621 24.1397 28.8607 24.4389 28.8607C24.7382 28.8607 25.2369 28.5621 25.8354 28.0645C26.5337 27.4674 27.4314 26.6712 28.7282 26.6712C30.1247 26.6712 30.9227 27.4674 31.621 28.0645C31.9202 28.3631 32.2194 28.5621 32.5187 28.6616C32.7182 28.7611 32.9177 28.8607 33.1172 28.8607C33.4165 28.8607 33.9152 28.5621 34.5137 27.965C35.212 27.3679 36.1097 26.5717 37.4065 26.5717C38.404 26.5717 39.202 27.0693 40 27.5669L34.015 2.18943Z' fill='%23149080'/%3E%3Cpath d='M23.4413 53.1428H16.5585C15.8602 53.1428 15.4612 53.6404 15.4612 54.2375C15.4612 54.8346 15.96 55.3322 16.5585 55.3322H23.4413C24.1396 55.3322 24.5385 54.8346 24.5385 54.2375C24.6383 53.6404 24.1396 53.1428 23.4413 53.1428Z' fill='%23149080'/%3E%3Cpath d='M20.0499 28.7605C19.9501 28.7605 19.7506 28.86 19.4514 28.9595C19.2519 29.0591 19.0524 29.2581 18.8529 29.3576V33.0398H21.1471V29.4571C20.6484 29.0591 20.2494 28.7605 20.0499 28.7605Z' fill='%23149080'/%3E%3C/svg%3E");

    @media (min-width: $tablet-width) {
      bottom: 0;
      top: 30px;
    }
  }
}
