.copyright__text {
  align-self: center;
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
  color: #000000;
  margin-right: 27px;
}

.copyright__link {
  display: inline-flex;
  align-self: center;
}
