.footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 19px;
  line-height: 95%;
  color: $dark-color;
  text-decoration: none;
  padding-top: 15px;
  fill: $accent-color;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-top: -9px;
  }

  &:hover {
    fill: $second-accent-hover-color;
  }

  &:active {
    fill: $link-second-hover-color;
  }
}

.copyright__image {
  margin-left: 28px;
}
