.field {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: center;
    width: 428px;
  }

  @media (min-width: $desktop-width) {
    width: 626px;
  }
}

.field__input {
  border-style: none;
  border-bottom: 2px solid #000000;

  @media (min-width: $tablet-width) {
    margin-left: 24px;
    width: 100%;
  }
}

.field__label {
  font-weight: 700;
  font-size: 17px;
  line-height: 106%;
  color: #000000;

  @media (min-width: $tablet-width) {
    font-size: 19px;
    line-height: 95%;
  }
}
