.footer {
  width: 100%;
  background-color: $light-gray-color;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  padding: 25px 30px 23px 30px;
  margin: 0 auto;
  width: 100%;
  max-width: 320px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px 50px;
    max-width: 768px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1050px;
  }
}

.footer__logo {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    fill: $dark-color;
  }

  &:hover {
    fill: $accent-color;
  }

  &:active {
    fill: $link-second-hover-color;
  }
}

.footer__social::after {
  content: "";
  width: 260px;
  border-bottom: 1px solid  #ececec;
  padding-top: 28px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
