.footer {
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
  padding: 25px 30px 23px 30px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 51px 50px 58px 50px;
  }
}

.footer__logo {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    fill: $dark-color;
  }

  &:hover {
    fill: $accent-color;
  }

  &:active {
    fill: $link-second-hover-color;
  }
}

.footer__social::after {
  content: "";
  width: 260px;
  border-bottom: 1px solid  #ececec;
  padding-top: 28px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
