.form-container__title {
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  color: #000000;
  background-color: #f1f1f1;
  margin: 0;
  padding-top: 74px;
  padding-bottom: 74px;
}

.form-wrapper{
  padding: 18px 30px 55px 30px;
}

.form-wrapper__text {
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
}

.form__fieldset {
  border-style: none;
  margin: 0;
  padding: 0;
}

.form__legend {
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: #63d1bb;
}

.form__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.form__fieldset--type {
  margin-bottom: 31px;
}

.form__legend--type {
  margin-bottom: 30px;
}

.radio {
  display: flex;
}

.radio__input {
  margin-right: 19px;
  margin-bottom: 11px;
}

.radio__label {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
}

.form__fieldset--color {
  margin-bottom: 33px;
}

.form__legend--color {
  margin-bottom: 25px;
}
.checkbox {
  display: flex;
}

.checkbox__input {
  margin-right: 19px;
  margin-bottom: 23px;
}

.checkbox__label {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
}

.form__fieldset--user {
  margin-bottom: 35px;
}

.form__legend--user {
  margin-bottom: 29px;
}

.text {
  display: flex;
  flex-direction: column;
  margin-bottom: 22px;
}

.text:last-child {
  margin-bottom: 0px;
}

.text__input {
  padding-top: 17px;
  padding-bottom: 17px;
  border-style: none;
  border-bottom: 2px solid #000000;
}

.text__input::placeholder {
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
}

.text__label {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
}

.form__fieldset--phone {
  margin-bottom: 35px;
}

.phone-input {
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 19px;
  padding-bottom: 20px;
  border-style: none;
  border-bottom: 2px solid #000000;
}

.phone-input::placeholder {
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
}

.form__fieldset--email {
  margin-bottom: 35px;
}

.email-input {
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 19px;
  padding-bottom: 20px;
  border-style: none;
  border-bottom: 2px solid #000000;
}

.email-input::placeholder {
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
}

.form__fieldset--wishes {
  margin-bottom: 17px;
}

.form__legend--wishes {
  margin-bottom: 23px;
}

.textarea-input {
  width: 100%;
  height: 142px;
  border: 2px solid #000000;
}

.textarea-input::placeholder {
  padding: 17px 17px 0px 17px;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
}

.form__info {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 30px;
}

.form__button {
  padding: 18px 37px;
}
