.form {
  @media (min-width: $tablet-width) {
    padding-top: 47px;
  }
}

.form-container__title {
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  color: $dark-color;
  background-color: $light-gray-color;
  margin: 0;
  padding-top: 74px;
  padding-bottom: 74px;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 116%;
  }
}

.form-wrapper {
  padding: 18px 30px 55px 30px;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-top: 54px;
    padding-bottom: 50px;
  }
}

.form-wrapper__text {
  font-weight: 400;
  font-size: 13px;
  line-height: 185%;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 176%;
    padding: 0 50px;
  }

  @media (min-width: $tablet-width) {
    max-width: 702px;
    padding: 0;
    margin: 0 auto;
  }
}

.form__fieldset {
  border-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
  }

  &--type {
    margin-bottom: 31px;

    @media (min-width: $tablet-width) {
      margin: 0;
    }
  }

  &--color {
    margin-bottom: 33px;

    @media (min-width: $tablet-width) {
      background-color: $light-gray-color;
      margin: 0;
    }
  }

  &--user {
    margin-bottom: 13px;

    @media (min-width: $tablet-width) {
      margin: 0;
    }
  }

  &--phone {
    margin-bottom: 35px;

    @media (min-width: $tablet-width) {
      background-color: $light-gray-color;
      margin: 0;
    }
  }

  &--email {
    margin-bottom: 35px;

    @media (min-width: $tablet-width) {
      background-color: $light-gray-color;
      margin: 0;
    }
  }

  &--wishes {
    margin-bottom: 17px;

    @media (min-width: $tablet-width) {
      margin: 0;
    }
  }
}

.form__fieldset-inputs {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    padding: 50px 50px;

    &--type {
      flex-direction: row;
    }

    &--color {
      flex-direction: row;
    }

    &--user {
      flex-direction: row;
    }

    &--phone {
      padding: 50px 50px 12px 50px;
      align-items: center;
      flex-direction: row;
    }

    &--email {
      padding: 12px 50px 50px 50px;
      align-items: center;
      flex-direction: row;
    }

    &--wishes {
      flex-direction: row;
    }

    &--info-button {
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 0;

      @media (min-width: $desktop-width) {
        max-width: 700px;
        margin-left: 182px;
      }
    }
  }
}

.form__legend {
  font-weight: 700;
  font-size: 17px;
  line-height: 94%;
  text-transform: uppercase;
  color: $accent-color;
  min-width: 65px;

  &--type {
    margin-bottom: 30px;
  }

  &--color {
    margin-bottom: 25px;
  }

  &--user {
    margin-bottom: 29px;
  }

  &--wishes {
    margin-bottom: 23px;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.form__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 22px;

  &--type {
    @media (min-width: $tablet-width) {
      margin-left: 120px;
      gap: 32px;
    }

    @media (min-width: $desktop-width) {
      margin-left: 130px;
    }
  }

  &--color {
    @media (min-width: $tablet-width) {
      flex-direction: row;
      flex-wrap: wrap;
      margin-left: 120px;
      max-width: 465px;
      gap: 32px;
    }

    @media (min-width: $desktop-width) {
      max-width: 680px;
    }
  }

  &--user {
    @media (min-width: $tablet-width) {
      margin-left: 120px;
      gap: 36px;
    }
  }
}

.text-input {
  width: 100%;
  margin: 0;
  padding: 0;
  line-height: 106%;
  padding-top: 19px;
  padding-bottom: 20px;
  border-style: none;
  border-bottom: 2px solid $dark-color;

  &::placeholder {
    font-weight: 400;
    font-size: 17px;
    color: $placeholder-color;

    @media (min-width: $tablet-width) {
      font-size: 19px;
      padding-left: 10px;
    }
  }

  &--phone {
    padding-right: 15px;
    background-image: url("data:image/svg+xml,%3Csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.2'%3E%3Cpath d='M17.4395 24C17.0363 24 16.7339 24 16.3306 24C11.3911 23.4074 7.7621 21.1358 5.14113 18.2717C2.52016 15.4075 0.403226 11.7532 0 6.7162C0 6.22237 0 5.82731 0 5.33349C0.100806 4.44461 0.504032 3.85202 1.10887 3.25943C1.71371 2.56808 2.72177 1.77796 3.62903 1.6792C4.33468 1.6792 5.44355 2.17302 5.84677 2.76561C6.25 3.25943 6.45161 4.34584 6.65323 5.13596C6.85484 6.02484 7.25806 7.11125 7.15726 7.90137C6.95565 9.08655 5.34274 9.58037 4.93952 10.4693C6.55242 14.1235 9.07258 16.889 12.5 18.6667C13.3065 18.1729 14.1129 16.7902 15.3226 16.7902C15.7258 16.7902 16.3306 16.9877 16.7339 17.0865C17.2379 17.1852 17.6411 17.3828 18.0444 17.5803C18.75 17.8766 20.0605 18.1729 20.4637 18.7655C20.8669 19.3581 21.1694 20.3457 21.0685 20.9383C20.7661 22.2222 18.6492 23.6049 17.4395 24Z' fill='black'/%3E%3Cpath d='M12.6008 1.48147C18.5484 1.48147 23.4879 6.22217 23.4879 12.1481H25C25 5.43205 19.4557 0 12.6008 0V1.48147Z' fill='black'/%3E%3Cpath d='M12.6008 9.18506V10.7653C13.4073 10.7653 14.0121 11.3579 14.0121 12.148H15.625C15.625 10.5678 14.3145 9.18506 12.6008 9.18506Z' fill='black'/%3E%3Cpath d='M12.6008 6.12356C15.9274 6.12356 18.75 8.79021 18.75 12.1482H20.3629C20.3629 8.00009 16.9355 4.64209 12.7016 4.64209V6.12356H12.6008Z' fill='black'/%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 25px 24px;
    background-position: calc(100% - 10px) center;

    @media (min-width: $tablet-width) {
      padding-right: 23px;
      background-position: calc(100% - 20px) center;
      background-color: $light-gray-color;
      margin-left: 125px;
      min-width: 420px;
    }

    @media (min-width: $desktop-width) {
      padding-right: 10px;
      background-position: calc(100% - 5px) center;
      margin-left: 125px;
      min-width: 620px;
    }
  }

  &--email {
    padding-right: 18px;
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='21' viewBox='0 0 32 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.2' d='M28 0H4C1.8 0 0 1.8 0 4V17C0 19.2 1.8 21 4 21H28C30.2 21 32 19.2 32 17V4C32 1.8 30.2 0 28 0ZM2 5.3L9 10.6L2 15.9V5.3ZM30 17C30 18.1 29.1 19 28 19H4C2.9 19 2 18.1 2 17L9.8 11.1L14.2 14.4C14.7 14.8 15.4 15 16 15C16.6 15 17.3 14.8 17.8 14.4L22.2 11.1L30 17ZM30 15.8L23 10.5L30 5.2V15.8ZM17.2 13.6C16.8 13.9 16.4 14 16 14C15.6 14 15.1 13.9 14.8 13.6L10.7 10.5L9.9 9.9L2 4C2 2.9 2.9 2 4 2H28C29.1 2 30 2.9 30 4L17.2 13.6Z' fill='black'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: 32px 21px;
    background-position: calc(100% - 10px) center;

    @media (min-width: $tablet-width) {
      padding-right: 30px;
      background-position: calc(100% - 18px) center;
      background-color: $light-gray-color;
      margin-left: 125px;
      min-width: 420px;
    }

    @media (min-width: $desktop-width) {
      padding-right: 20px;
      background-position: calc(100% - 5px) center;
      margin-left: 125px;
      min-width: 620px;
    }
  }
}

.textarea-input {
  width: 100%;
  height: 142px;
  border: 2px solid $dark-color;

  &::placeholder {
    padding: 17px 17px 0 17px;
    font-weight: 400;
    font-size: 17px;
    line-height: 106%;

    @media (min-width: $tablet-width) {
      font-size: 19px;
      line-height: 95%;
    }
  }

  @media (min-width: $tablet-width) {
    margin-left: 120px;
    min-width: 430px;
    min-height: 142px;
  }

  @media (min-width: $desktop-width) {
    min-width: 625px;
  }
}

.form__info {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 30px;
}

.form__button {
  padding: 18px 37px;
}
