.main-header {
  display: flex;
  justify-content: center;
  position: relative;
  background-color: $white-color;
  padding-top: 22px;
  padding-bottom: 22px;
  box-sizing: border-box;
  border-bottom: 1px solid $light-gray-color;

  @media (min-width: $tablet-width) {
    padding: 0 50px;
  }
}

.logo {
  display: block;
}
