.intro {
  display: flex;
  flex-direction: column;
  background-color: $background-gray-color;

  @media (min-width: $tablet-width) {
    max-height: 693px;
  }
}

.intro__title-wrapper {
  min-height: 281px;
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  background-color: $light-gray-color;
  background-image: url("../img/intro/hero-mobile.jpg");
  background-position: 0 -19px;
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 30px;
  padding-right: 30px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/intro/hero-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    max-width: 768px;
    height: 600px;
    background-image: url("../img/intro/hero-tablet.jpg");
    background-position: 0 -66px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/intro/hero-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    max-width: 1150px;
    height: 600px;
    background-image: url("../img/intro/hero-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/intro/hero-desktop@2x.jpg");
    }
  }
}

.intro__title {
  align-self: center;
  font-weight: 700;
  font-size: 27px;
  line-height: 111%;
  color: $dark-color;
  text-align: center;
  margin: 0;
  margin-top: 72px;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 116%;
    margin-top: 90px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 108%;
  }
}
