.container {
  margin: 0 auto;
  width: 100%;
  max-width: 320px;

  @media (min-width: $tablet-width) {
    max-width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    max-width: $desktop-width;
  }
}
