.main-product {
  position: relative;
  padding: 30px 30px 42px;

  @media (min-width: $tablet-width) {
    padding: 40px 50px 68px;
  }

  &::after {
    position: absolute;
    content: "";
    height: 7px;
    width: 100%;
    bottom: 0;
    left: 0;
    background-image: url("data:image/svg+xml,%3Csvg width='320' height='6' viewBox='0 0 320 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M320 6C317.496 6 316.188 4.8 315.13 3.83478C314.184 2.97391 313.489 2.34783 312.014 2.34783C310.511 2.34783 309.843 2.97391 308.897 3.83478C307.84 4.8 306.532 6 304.028 6C301.523 6 300.216 4.8 299.158 3.83478C298.212 2.97391 297.517 2.34783 296.042 2.34783C294.567 2.34783 293.871 2.97391 292.925 3.83478C291.868 4.8 290.56 6 288.056 6C285.551 6 284.243 4.8 283.186 3.83478C282.24 2.97391 281.544 2.34783 280.07 2.34783C278.567 2.34783 277.899 2.97391 276.953 3.83478C275.896 4.8 274.588 6 272.083 6C269.579 6 268.271 4.8 267.214 3.83478C266.268 2.97391 265.572 2.34783 264.097 2.34783C262.595 2.34783 261.927 2.97391 260.981 3.83478C259.812 4.8 258.504 6 256 6C253.496 6 252.188 4.8 251.13 3.83478C250.184 2.97391 249.489 2.34783 248.014 2.34783C246.511 2.34783 245.843 2.97391 244.897 3.83478C243.84 4.8 242.532 6 240.028 6C237.523 6 236.216 4.8 235.158 3.83478C234.212 2.97391 233.517 2.34783 232.042 2.34783C230.539 2.34783 229.871 2.97391 228.925 3.83478C227.812 4.8 226.504 6 224 6C221.496 6 220.188 4.8 219.13 3.83478C218.184 2.97391 217.489 2.34783 216.014 2.34783C214.511 2.34783 213.843 2.97391 212.897 3.83478C211.84 4.8 210.532 6 208.028 6C205.523 6 204.216 4.8 203.158 3.83478C202.212 2.97391 201.517 2.34783 200.042 2.34783C198.567 2.34783 197.871 2.97391 196.925 3.83478C195.84 4.8 194.504 6 192 6C189.496 6 188.188 4.8 187.13 3.83478C186.184 2.97391 185.489 2.34783 184.014 2.34783C182.511 2.34783 181.843 2.97391 180.897 3.83478C179.84 4.8 178.532 6 176.028 6C173.523 6 172.216 4.8 171.158 3.83478C170.212 2.97391 169.517 2.34783 168.042 2.34783C166.539 2.34783 165.871 2.97391 164.925 3.83478C163.868 4.8 162.56 6 160.056 6C157.551 6 156.243 4.8 155.186 3.83478C154.24 2.97391 153.544 2.34783 152.07 2.34783C150.595 2.34783 149.899 2.97391 148.953 3.83478C147.896 4.8 146.588 6 144.083 6C141.579 6 140.271 4.8 139.214 3.83478C138.268 2.97391 137.572 2.34783 136.097 2.34783C134.595 2.34783 133.927 2.97391 132.981 3.83478C131.923 4.8 130.616 6 128.111 6C125.607 6 124.299 4.8 123.242 3.83478C122.296 2.97391 121.6 2.34783 120.125 2.34783C118.623 2.34783 117.955 2.97391 117.009 3.83478C115.951 4.8 114.643 6 112.139 6C109.635 6 108.327 4.8 107.27 3.83478C106.323 2.97391 105.628 2.34783 104.153 2.34783C102.65 2.34783 101.983 2.97391 101.037 3.83478C99.9791 4.8 98.6713 6 96.167 6C93.6626 6 92.3548 4.8 91.2974 3.83478C90.3513 2.97391 89.6556 2.34783 88.1809 2.34783C86.7061 2.34783 86.0104 2.97391 85.0643 3.83478C84.007 4.8 82.6991 6 80.1948 6C77.6904 6 76.3826 4.8 75.3252 3.83478C74.3791 2.97391 73.6835 2.34783 72.2087 2.34783C70.7061 2.34783 70.0383 2.97391 69.0922 3.83478C68.0348 4.8 66.727 6 64.2226 6C61.7183 6 60.4104 4.8 59.353 3.83478C58.407 2.97391 57.7113 2.34783 56.2365 2.34783C54.7339 2.34783 54.0661 2.97391 53.12 3.83478C52.0626 4.8 50.7548 6 48.2504 6C45.7461 6 44.4383 4.8 43.3809 3.83478C42.4348 2.97391 41.7391 2.34783 40.2643 2.34783C38.7617 2.34783 38.0939 2.97391 37.1478 3.83478C35.84 4.8 34.5043 6 32 6C29.4957 6 28.1878 4.8 27.1304 3.83478C26.1843 2.97391 25.4887 2.34783 24.0139 2.34783C22.5113 2.34783 21.8435 2.97391 20.8974 3.83478C19.84 4.8 18.5322 6 16.0278 6C13.5235 6 12.2157 4.8 11.1583 3.83478C10.1843 2.97391 9.4887 2.34783 8.01391 2.34783C6.5113 2.34783 5.84348 2.97391 4.89739 3.83478C3.81217 4.8 2.50435 6 0 6V3.65217C1.50261 3.65217 2.17043 3.02609 3.11652 2.16522C4.17391 1.2 5.48174 0 8.01391 0C10.5183 0 11.8261 1.2 12.8835 2.16522C13.8296 3.02609 14.5252 3.65217 16 3.65217C17.5026 3.65217 18.1704 3.02609 19.1165 2.16522C20.1739 1.2 21.5096 0 24.0139 0C26.5183 0 27.8261 1.2 28.8835 2.16522C29.8296 3.02609 30.5252 3.65217 32 3.65217C33.5026 3.65217 34.1704 3.02609 35.1165 2.16522C36.1739 1.2 37.4817 0 39.9861 0C42.4904 0 43.7983 1.2 44.8556 2.16522C45.8017 3.02609 46.4974 3.65217 47.9722 3.65217C49.4748 3.65217 50.1426 3.02609 51.0887 2.16522C52.1461 1.2 53.4539 0 55.9583 0C58.4626 0 59.7704 1.2 60.8278 2.16522C61.7739 3.02609 62.4696 3.65217 63.9443 3.65217C65.447 3.65217 66.1148 3.02609 67.0609 2.16522C68.1183 1.2 69.4261 0 71.9304 0C74.4348 0 75.7426 1.2 76.8 2.16522C77.7461 3.02609 78.4417 3.65217 79.9165 3.65217C81.4191 3.65217 82.087 3.02609 83.033 2.16522C84.0904 1.2 85.3983 0 87.9026 0C90.407 0 91.7148 1.2 92.7722 2.16522C93.7183 3.02609 94.4139 3.65217 95.8887 3.65217C97.3913 3.65217 98.0591 3.02609 99.0052 2.16522C100.063 1.2 101.37 0 103.875 0C106.379 0 107.687 1.2 108.744 2.16522C109.69 3.02609 110.386 3.65217 111.861 3.65217C113.336 3.65217 114.031 3.02609 114.977 2.16522C116.035 1.2 117.343 0 119.847 0C122.351 0 123.659 1.2 124.717 2.16522C125.663 3.02609 126.358 3.65217 127.833 3.65217C129.336 3.65217 130.003 3.02609 130.95 2.16522C132.007 1.2 133.315 0 135.819 0C138.323 0 139.631 1.2 140.689 2.16522C141.635 3.02609 142.33 3.65217 143.805 3.65217C145.308 3.65217 145.976 3.02609 146.922 2.16522C147.979 1.2 149.287 0 151.791 0C154.296 0 155.603 1.2 156.661 2.16522C157.607 3.02609 158.303 3.65217 159.777 3.65217C161.28 3.65217 161.948 3.02609 162.894 2.16522C163.951 1.2 165.259 0 167.763 0C170.268 0 171.576 1.2 172.633 2.16522C173.579 3.02609 174.275 3.65217 175.75 3.65217C177.252 3.65217 177.92 3.02609 178.866 2.16522C179.923 1.2 181.231 0 183.736 0C186.24 0 187.548 1.2 188.605 2.16522C189.551 3.02609 190.247 3.65217 191.722 3.65217C193.224 3.65217 193.892 3.02609 194.838 2.16522C195.896 1.2 197.203 0 199.708 0C202.212 0 203.52 1.2 204.577 2.16522C205.523 3.02609 206.219 3.65217 207.694 3.65217C209.197 3.65217 209.864 3.02609 210.81 2.16522C211.868 1.2 213.176 0 215.68 0C218.184 0 219.492 1.2 220.55 2.16522C221.496 3.02609 222.191 3.65217 223.666 3.65217C225.169 3.65217 225.837 3.02609 226.783 2.16522C228.174 1.2 229.482 0 232.014 0C234.518 0 235.826 1.2 236.883 2.16522C237.83 3.02609 238.525 3.65217 240 3.65217C241.475 3.65217 242.17 3.02609 243.117 2.16522C244.174 1.2 245.482 0 247.986 0C250.49 0 251.798 1.2 252.856 2.16522C253.802 3.02609 254.497 3.65217 255.972 3.65217C257.447 3.65217 258.143 3.02609 259.089 2.16522C260.174 1.2 261.482 0 264.014 0C266.546 0 267.826 1.2 268.883 2.16522C269.83 3.02609 270.525 3.65217 272 3.65217C273.475 3.65217 274.17 3.02609 275.117 2.16522C276.174 1.2 277.482 0 279.986 0C282.49 0 283.798 1.2 284.856 2.16522C285.802 3.02609 286.497 3.65217 287.972 3.65217C289.475 3.65217 290.143 3.02609 291.089 2.16522C292.146 1.2 293.454 0 295.958 0C298.463 0 299.77 1.2 300.828 2.16522C301.774 3.02609 302.47 3.65217 303.944 3.65217C305.419 3.65217 306.115 3.02609 307.061 2.16522C308.118 1.2 309.426 0 311.93 0C314.435 0 315.743 1.2 316.8 2.16522C317.746 3.02609 318.442 3.65217 319.917 3.65217V6H320Z' fill='%23F1F1F1'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      background-image: url("data:image/svg+xml,%3Csvg width='768' height='17' viewBox='0 0 768 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M770 17C763.958 17 760.803 13.6 758.252 10.8652C755.97 8.42609 754.292 6.65217 750.734 6.65217C747.109 6.65217 745.497 8.42609 743.215 10.8652C740.664 13.6 737.509 17 731.467 17C725.425 17 722.27 13.6 719.719 10.8652C717.437 8.42609 715.759 6.65217 712.201 6.65217C708.643 6.65217 706.964 8.42609 704.682 10.8652C702.131 13.6 698.976 17 692.934 17C686.892 17 683.737 13.6 681.186 10.8652C678.904 8.42609 677.226 6.65217 673.668 6.65217C670.043 6.65217 668.432 8.42609 666.149 10.8652C663.598 13.6 660.443 17 654.401 17C648.36 17 645.205 13.6 642.654 10.8652C640.371 8.42609 638.693 6.65217 635.135 6.65217C631.51 6.65217 629.899 8.42609 627.616 10.8652C624.797 13.6 621.642 17 615.6 17C609.558 17 606.403 13.6 603.852 10.8652C601.57 8.42609 599.891 6.65217 596.334 6.65217C592.708 6.65217 591.097 8.42609 588.815 10.8652C586.264 13.6 583.109 17 577.067 17C571.025 17 567.87 13.6 565.319 10.8652C563.037 8.42609 561.359 6.65217 557.801 6.65217C554.176 6.65217 552.565 8.42609 550.282 10.8652C547.597 13.6 544.442 17 538.4 17C532.358 17 529.203 13.6 526.652 10.8652C524.37 8.42609 522.691 6.65217 519.134 6.65217C515.508 6.65217 513.897 8.42609 511.615 10.8652C509.064 13.6 505.909 17 499.867 17C493.825 17 490.67 13.6 488.119 10.8652C485.837 8.42609 484.159 6.65217 480.601 6.65217C477.043 6.65217 475.365 8.42609 473.082 10.8652C470.464 13.6 467.242 17 461.2 17C455.158 17 452.003 13.6 449.452 10.8652C447.17 8.42609 445.491 6.65217 441.934 6.65217C438.309 6.65217 436.697 8.42609 434.415 10.8652C431.864 13.6 428.709 17 422.667 17C416.625 17 413.47 13.6 410.919 10.8652C408.637 8.42609 406.959 6.65217 403.401 6.65217C399.776 6.65217 398.165 8.42609 395.882 10.8652C393.331 13.6 390.176 17 384.134 17C378.093 17 374.937 13.6 372.386 10.8652C370.104 8.42609 368.426 6.65217 364.868 6.65217C361.31 6.65217 359.632 8.42609 357.349 10.8652C354.798 13.6 351.643 17 345.601 17C339.56 17 336.405 13.6 333.854 10.8652C331.571 8.42609 329.893 6.65217 326.335 6.65217C322.71 6.65217 321.099 8.42609 318.816 10.8652C316.265 13.6 313.11 17 307.069 17C301.027 17 297.872 13.6 295.321 10.8652C293.038 8.42609 291.36 6.65217 287.802 6.65217C284.177 6.65217 282.566 8.42609 280.283 10.8652C277.733 13.6 274.577 17 268.536 17C262.494 17 259.339 13.6 256.788 10.8652C254.505 8.42609 252.827 6.65217 249.269 6.65217C245.644 6.65217 244.033 8.42609 241.751 10.8652C239.2 13.6 236.045 17 230.003 17C223.961 17 220.806 13.6 218.255 10.8652C215.973 8.42609 214.294 6.65217 210.736 6.65217C207.178 6.65217 205.5 8.42609 203.218 10.8652C200.667 13.6 197.512 17 191.47 17C185.428 17 182.273 13.6 179.722 10.8652C177.44 8.42609 175.761 6.65217 172.203 6.65217C168.578 6.65217 166.967 8.42609 164.685 10.8652C162.134 13.6 158.979 17 152.937 17C146.895 17 143.74 13.6 141.189 10.8652C138.907 8.42609 137.229 6.65217 133.671 6.65217C130.046 6.65217 128.434 8.42609 126.152 10.8652C123.601 13.6 120.446 17 114.404 17C108.362 17 105.207 13.6 102.656 10.8652C100.374 8.42609 98.6956 6.65217 95.1377 6.65217C91.5127 6.65217 89.9016 8.42609 87.6191 10.8652C84.464 13.6 81.2417 17 75.2 17C69.1583 17 66.0031 13.6 63.4522 10.8652C61.1697 8.42609 59.4915 6.65217 55.9336 6.65217C52.3085 6.65217 50.6974 8.42609 48.415 10.8652C45.864 13.6 42.7089 17 36.6671 17C30.6254 17 27.4703 13.6 24.9193 10.8652C22.5697 8.42609 20.8915 6.65217 17.3336 6.65217C13.7085 6.65217 12.0974 8.42609 9.81496 10.8652C7.19687 13.6 4.04174 17 -2 17V10.3478C1.62504 10.3478 3.23617 8.57391 5.51861 6.13478C8.06956 3.4 11.2247 0 17.3336 0C23.3753 0 26.5304 3.4 29.0814 6.13478C31.3638 8.57391 33.0421 10.3478 36.6 10.3478C40.225 10.3478 41.8362 8.57391 44.1186 6.13478C46.6696 3.4 49.8918 0 55.9336 0C61.9753 0 65.1304 3.4 67.6814 6.13478C69.9638 8.57391 71.6421 10.3478 75.2 10.3478C78.825 10.3478 80.4362 8.57391 82.7186 6.13478C85.2696 3.4 88.4247 0 94.4664 0C100.508 0 103.663 3.4 106.214 6.13478C108.497 8.57391 110.175 10.3478 113.733 10.3478C117.358 10.3478 118.969 8.57391 121.251 6.13478C123.802 3.4 126.958 0 132.999 0C139.041 0 142.196 3.4 144.747 6.13478C147.03 8.57391 148.708 10.3478 152.266 10.3478C155.891 10.3478 157.502 8.57391 159.784 6.13478C162.335 3.4 165.49 0 171.532 0C177.574 0 180.729 3.4 183.28 6.13478C185.562 8.57391 187.241 10.3478 190.799 10.3478C194.424 10.3478 196.035 8.57391 198.317 6.13478C200.868 3.4 204.023 0 210.065 0C216.107 0 219.262 3.4 221.813 6.13478C224.095 8.57391 225.774 10.3478 229.331 10.3478C232.957 10.3478 234.568 8.57391 236.85 6.13478C239.401 3.4 242.556 0 248.598 0C254.64 0 257.795 3.4 260.346 6.13478C262.628 8.57391 264.306 10.3478 267.864 10.3478C271.422 10.3478 273.101 8.57391 275.383 6.13478C277.934 3.4 281.089 0 287.131 0C293.173 0 296.328 3.4 298.879 6.13478C301.161 8.57391 302.839 10.3478 306.397 10.3478C310.022 10.3478 311.633 8.57391 313.916 6.13478C316.467 3.4 319.622 0 325.664 0C331.705 0 334.861 3.4 337.411 6.13478C339.694 8.57391 341.372 10.3478 344.93 10.3478C348.555 10.3478 350.166 8.57391 352.449 6.13478C355 3.4 358.155 0 364.197 0C370.238 0 373.393 3.4 375.944 6.13478C378.227 8.57391 379.905 10.3478 383.463 10.3478C387.088 10.3478 388.699 8.57391 390.982 6.13478C393.533 3.4 396.688 0 402.729 0C408.771 0 411.926 3.4 414.477 6.13478C416.76 8.57391 418.438 10.3478 421.996 10.3478C425.621 10.3478 427.232 8.57391 429.514 6.13478C432.065 3.4 435.221 0 441.262 0C447.304 0 450.459 3.4 453.01 6.13478C455.293 8.57391 456.971 10.3478 460.529 10.3478C464.154 10.3478 465.765 8.57391 468.047 6.13478C470.598 3.4 473.753 0 479.795 0C485.837 0 488.992 3.4 491.543 6.13478C493.825 8.57391 495.504 10.3478 499.062 10.3478C502.687 10.3478 504.298 8.57391 506.58 6.13478C509.131 3.4 512.286 0 518.328 0C524.37 0 527.525 3.4 530.076 6.13478C532.358 8.57391 534.036 10.3478 537.594 10.3478C541.219 10.3478 542.831 8.57391 545.113 6.13478C548.47 3.4 551.625 0 557.734 0C563.775 0 566.93 3.4 569.481 6.13478C571.764 8.57391 573.442 10.3478 577 10.3478C580.558 10.3478 582.236 8.57391 584.519 6.13478C587.07 3.4 590.225 0 596.266 0C602.308 0 605.463 3.4 608.014 6.13478C610.297 8.57391 611.975 10.3478 615.533 10.3478C619.091 10.3478 620.769 8.57391 623.051 6.13478C625.67 3.4 628.825 0 634.934 0C641.042 0 644.13 3.4 646.681 6.13478C648.964 8.57391 650.642 10.3478 654.2 10.3478C657.758 10.3478 659.436 8.57391 661.719 6.13478C664.27 3.4 667.425 0 673.466 0C679.508 0 682.663 3.4 685.214 6.13478C687.497 8.57391 689.175 10.3478 692.733 10.3478C696.358 10.3478 697.969 8.57391 700.251 6.13478C702.802 3.4 705.958 0 711.999 0C718.041 0 721.196 3.4 723.747 6.13478C726.03 8.57391 727.708 10.3478 731.266 10.3478C734.824 10.3478 736.502 8.57391 738.784 6.13478C741.335 3.4 744.49 0 750.532 0C756.574 0 759.729 3.4 762.28 6.13478C764.562 8.57391 766.241 10.3478 769.799 10.3478V17H770Z' fill='%23F1F1F1'/%3E%3C/svg%3E%0A");
      height: 17px;
    }

    @media (min-width: $desktop-width) {
      background-image: none;
    }
  }
}

.main-product__wrapper {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: $tablet-width) {
    grid-template-columns: 292px 1fr 100px;
    column-gap: 42px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 32px 82px 292px 525px;
    column-gap: 43px;
  }
}

.main-product__title {
  font-size: 25px;
  line-height: 120%;
  color: $dark-color;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 116%;
    grid-column: 1 / 3;
  }

  @media (min-width: $desktop-width) {
    grid-row: 1;
    grid-column: 3 / -1;
    font-size: 53px;
    line-height: 108%;
    margin-top: 41px;
    z-index: 1;
  }
}

.main-product__notice {
  margin: 6px 0 17px;
  font-size: 17px;
  line-height: 118%;
  font-weight: 700;
  text-transform: uppercase;
  color: $accent-color;

  @media (min-width: $tablet-width) {
    grid-column: 3/-1;
    text-align: center;
    margin-top: 9px;
    margin-right: 27px;
    margin-bottom: 60px;
    line-height: 100%;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/2;
    grid-row: 1/1;
    margin-top: 50px;
  }
}

.main-product__description {
  margin: 0 0 19px;
  font-size: 15px;
  line-height: 160%;

  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    font-size: 17px;
    line-height: 176%;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3/4;
  }
}

.main-product__option {
  margin: 0 0 28px;

  @media (min-width: $tablet-width) {
    grid-column: 1/2;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3/4;
  }
}

.main-product__image-wrapper {
  margin: 0;

  @media (min-width: $tablet-width) {
    grid-column: 2/-1;
    grid-row: 2/6;
    width: 334px;
    height: 404px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 4 /-1;
    grid-row: 1/6;
    width: 525px;
    height: 636px;
  }
}

.main-product__image {
  width: 100%;
  height: auto;
}

.main-product__price {
  margin: 20px 0 24px;
  font-size: 17px;
  line-height: 141%;
  font-weight: 700;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3 / 4;
  }
}

.main-product__button {
  text-align: center;

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    align-self: flex-end;
    grid-column: 3 / 4;
    height: 52px;
    font-size: 17px;
    line-height: 118%;
  }
}
