.main-nav {
  @media (min-width: $tablet-width) {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 347px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 250px 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 150px 1fr;
  }

  &--closed {
    .main-nav__toggle {
      width: 21px;
      height: 21px;
      position: absolute;
      top: 39%;
      right: 9%;
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='14' viewBox='0 0 20 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 0H0V2H20V0Z' fill='%23231F20'/%3E%3Cpath d='M20 6H0V8H20V6Z' fill='%23231F20'/%3E%3Cpath d='M20 12H0V14H20V12Z' fill='%23231F20'/%3E%3C/svg%3E%0A");
      background-size: 20px 14px;
      background-repeat: no-repeat;
      border-style: none;
      background-color: transparent;

      @media (min-width: $tablet-width) {
        display: none;
      }
    }

    .main-nav__list-wrapper {
      display: none;

      @media (min-width: $tablet-width) {
        position: static;
        display: contents;
      }
    }
  }

  &--opened {
    .main-nav__toggle {
      width: 21px;
      height: 21px;
      position: absolute;
      top: 36%;
      right: 9%;
      background-image: url("data:image/svg+xml,%3Csvg width='21' height='20' viewBox='0 0 21 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21 1.36585L19.5659 0L10.5512 8.58537L1.43415 0L0 1.36585L9.01463 10.0488L0 18.6341L1.43415 20L10.5512 11.4146L19.5659 20L21 18.6341L11.9854 10.0488L21 1.36585Z' fill='black'/%3E%3C/svg%3E%0A");
      background-size: 21px 20px;
      background-repeat: no-repeat;
      border-style: none;
      background-color: transparent;
    }

    .main-nav__list-wrapper {
      display: block;
      position: absolute;
      width: 100%;
      background-color: $white-color;
      top: calc(100% + 1px);
      left: 0;
      right: 0;
      z-index: 1;
    }
  }

  &--nojs {
    .main-nav__toggle {
      display: none;
    }

    .main-nav__list-wrapper {
      display: block;
      position: static;
      width: 100%;
      background-color: $white-color;
      top: calc(100% + 1px);
      left: 0;
      right: 0;
      z-index: 1;

      @media (min-width: $tablet-width) {
        position: static;
        display: contents;
      }
    }

    .main-nav__logo {
      text-align: center;
    }
  }
}

.main-nav__site-list {
  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
  }

  @media (min-width: $desktop-width) {
    order: 1;
  }
}

.main-nav__user-list {
  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3 / 4;
  }
}

.main-nav__logo {
  display: block;

  @media (min-width: $tablet-width) {
    display: flex;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    align-items: center;
    border-bottom: 1px solid $light-gray-color;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.2;
  }
}

.logo__image {
  @media (min-width: $desktop-width) {
    width: 150px;
    height: 72px;
  }
}

.main-nav__submenu {
  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  @media (min-width: $desktop-width) {
    order: 4;
    grid-column: 1 / -1;
  }
}
