.process {
  margin: 0 29px 58px 29px;
  padding-top: 22px;
  display: flex;
  flex-direction: column;
  border: 1px solid $light-gray-color;

  @media (min-width: $tablet-width) {
    margin: 0 49px 0 49px;
    padding-top: 0;
    padding-bottom: 46px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row-reverse;
    padding-bottom: 0;
  }
}

.process__info {
  display: contents;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    padding: 41px 57px 60px 80px;
  }
}

.process__img {
  margin-right: 25px;
}

.process__title {
  display: inline-flex;
  font-weight: 700;
  font-size: 17px;
  line-height: 141%;
  color: $dark-color;
  width: 156px;
  margin: 0;
  padding-left: 90px;
  padding-bottom: 27px;
  order: -2;

  @media (min-width: $tablet-width) {
    order: -1;
    font-size: 20px;
    line-height: 120%;
    margin-left: 57px;
    width: auto;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-bottom: 28px;
    padding: 0;
    padding-top: 55px;
    max-width: 178px;
  }

  &--img {
    background-image: url("../../img/video.svg");
    background-repeat: no-repeat;
    background-size: 32px 22px;
    background-position: 30px 10px;

    @media (min-width: $tablet-width) {
      background-position: 15px 0;
    }

    @media (min-width: $desktop-width) {
      background-position: 0 5px;
    }
  }
}

.process__video {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 150px;
  background-image: url("../img/process/video-mobile-1.jpg");
  background-repeat: no-repeat;
  margin-bottom: 35px;
  order: -1;

  @media (min-width: $tablet-width) {
    order: -2;
    width: 100%;
    height: 455px;
    background-image: url("../img/process/video-tablet-1.jpg");
    background-repeat: no-repeat;
  }

  @media (min-width: $desktop-width) {
    order: 1;
    width: 683px;
    height: 455px;
    background-image: url("../img/process/video-desktop-1.jpg");
    background-repeat: no-repeat;
  }
}

.process__play-button {
  display: none;
  background-color: transparent;
  border-style: none;
}

.process__text {
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  margin-left: 34px;
  margin-bottom: 41px;

  @media (min-width: $tablet-width) {
    order: 3;
    font-size: 15px;
    line-height: 200%;
    max-width: 580px;
    margin-left: 40px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-bottom: 50px;
    max-width: 253px;
  }
}

.process__button {
  align-self: center;
  padding: 18px 20px;
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    order: 4;
    align-self: auto;
    margin: 0 42px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}
