.radio {
  display: flex;
}

.radio__input {
  margin-right: 19px;
  margin-bottom: 11px;
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.radio__label {
  position: relative;
  font-weight: 700;
  font-size: 17px;
  line-height: 106%;
  color: $dark-color;
  min-height: 42px;
  padding-left: 61px;

  @media (min-width: $tablet-width) {
    font-size: 19px;
    line-height: 95%;
    padding-left: 78px;
  }
}

.radio__input + .radio__label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.radio__input + .radio__label::before {
  position: absolute;
  content: "";
  left: 0;
  width: 42px;
  height: 42px;
  border: 2px solid $gray-color;
  border-radius: 50%;
  margin-right: 19px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;

  @media (min-width: $tablet-width) {
    width: 52px;
    height: 52px;
  }
}

.radio__input:not(:disabled):not(:checked) + .radio__label:hover::before {
  border-color: $accent-color;
}

.radio__input:not(:disabled):checked + .radio__label:hover::before {
  border-color: $accent-color;
}

.radio__input:not(:disabled):active + .radio__label::before {
  border-color: $gray-color;
}

.radio__input:checked + .radio__label::after {
  border-color: $gray-color;
  position: absolute;
  content: "";
  left: 12px;
  width: 18px;
  height: 18px;
  background-color: $accent-color;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;

  @media (min-width: $tablet-width) {
    left: 15px;
    width: 23px;
    height: 23px;
  }
}

.radio__input:checked + .radio__label:hover::after {
  border-color: $accent-color;
}
