.reviews {
  padding: 30px 30px 42px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 50px 50px 85px;
    min-height: 543px;
    background-image: url("../../img/review/review-tablet-img.jpg");
    background-repeat: no-repeat;
    background-size: 350px 457px;
  }

  @media (min-width: $desktop-width) {
    padding: 78px 50px 85px 174px;
  }

  &::after {
    position: absolute;
    content: "";
    height: 7px;
    width: 100%;
    bottom: 0;
    left: 0;
    background-image: url("../../img/zigzag-line-mobile.svg");
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      background-image: url("../../img/zigzag-line-tablet.svg");
      height: 17px;
    }

    @media (min-width: $desktop-width) {
      height: 23px;
      background-image: url("../../img/zigzag-line-desktop.svg");
      background-position: 50% 0;
    }
  }
}
