.reviews {
  display: flex;
  flex-direction: column;
  padding: 0px 30px 45px 30px;
}

.reviews__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
  margin: 0;
  margin-bottom: 14px;
}

.review {
  list-style-type: none;
  padding: 0;
}

.review__item--hidden {
  display: none;
}

.review__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  margin-bottom: 33px;
}

.bio__name {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  margin: 0;
  margin-bottom: 7px;
}

.bio__inst {
  margin: 0;
}

.testimonial-buttons {
  display: flex;
  justify-content: space-around;
  width: 258px;
  height: 52px;
  background: #FFFFFF;
  margin-bottom: 38px;
}

.testimonial-buttons__left {
  min-width: 129px;
  border-style: solid;
  border-width: 1px 0.5px 1px 1px;
  border-color: #ececec;
  background-color: transparent;
  background-image: url(../../img/review/huge-arrow-left.svg);
  background-repeat: no-repeat;
  background-size: 50px 26px;
  background-position: 50% 50%;
  margin: 0;
}

.testimonial-buttons__right {
  min-width: 129px;
  border-style: solid;
  border-width: 1px 1px 1px 0.5px;
  border-color: #ececec;
  background-color: transparent;
  background-image: url(../../img/review/huge-arrow-right.svg);
  background-repeat: no-repeat;
  background-size: 50px 26px;
  background-position: 50% 50%;
  margin: 0;
}

.reviews__button {
  margin: 0;
}
