.site-list {
  font-weight: 700;
  font-size: 17px;
  line-height: 141%;
  list-style-type: none;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    padding: 20px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    background-color: $white-color;
    border-bottom: 1px solid $light-gray-color;
  }
}

.site-list__item {
  padding: 29px 65px 27px 76px;
  border-bottom: 1px solid $light-gray-color;

  @media (min-width: $tablet-width) {
    font-size: 15px;
    padding: 0;
    border: none;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
    height: 88px;
    font-size: 17px;
    line-height: 141%;
    padding-right: 10px;

    &:not(:last-child) {
      border-right: 1px solid $light-gray-color;
    }

    &:not(:first-child) {
      padding-left: 30px;
    }
  }
}

.site-list__link {
  text-decoration: none;
  color: $dark-color;

  @media (min-width: $tablet-width) {
    padding-right: 19px;
  }

  &:hover {
    color: $link-hover-color;
  }

  &:active {
    color: $placeholder-color;
  }
}
