.slider {
  width: 100%;
  max-width: 260px;
  margin: 0 auto;
  padding-top: 42px;
  padding-bottom: 49px;
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: $tablet-width) {
    max-width: 668px;
    grid-template-columns: 1fr 175px;
    padding: 85px 50px 50px 50px;
    background-image: url("../img/review/review-tablet-img.jpg");
    background-repeat: no-repeat;
    background-size: 350px 457px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/review/review-tablet-img@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    padding: 78px 50px 85px 174px;
    background-position: 50px 0;
    max-width: 1150px;
  }
}

.slider__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: $dark-color;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    grid-column: 1 / 3;
    grid-row: 1 / 1;
  }
}

.slider__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.slider__item {
  margin: 0;
  padding: 0;

  &--hidden {
    display: none;
  }

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
  }
}

.slider__control {
  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    align-self: flex-end;
    max-width: 200px;
  }
}

.slider__button {
  display: block;
  text-align: center;

  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    max-width: 175px;
    margin-top: -16px;
    padding: 16px 26px;
    font-size: 17px;
  }
}
