.slider {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 175px;
  }
}

.slider__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: $dark-color;
  margin: 0;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    grid-column: 1 / 3;
    grid-row: 1 / 1;
  }
}

.slider__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.slider__item {
  margin: 0;
  padding: 0;

  &--hidden {
    display: none;
  }

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
  }
}

.slider__control {
  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    align-self: flex-end;
    max-width: 200px;
  }
}

.slider__button {
  display: block;
  text-align: center;

  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    max-width: 175px;
    padding: 16px 26px;
    font-size: 17px;
  }
}
