.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.social__item {
  margin-right: 32px;
  margin-top: 4px;

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  display: inline-flex;
  width: 27px;
  height: 20px;
}

.social__image {
  width: 28px;
  height: 21px;

  &:hover {
    fill: $second-accent-hover-color;
  }

  &:active {
    fill: $link-second-hover-color;
  }
}
