.submenu {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: flex-end;
    padding: 20px 0;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
  }
}

.submenu__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.submenu__link {
  font-weight: 700;
  font-size: 15px;
  line-height: 160%;
  color: $dark-color;
  text-decoration: none;

  @media (min-width: $desktop-width) {
    margin-right: 61px;
  }

  &:hover {
    color: $link-hover-color;
  }

  &:active {
    color: $placeholder-color;
  }
}

.submenu__description {
  margin: 0;
  padding: 0;
}
