.user-list {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  list-style-type: none;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    border-bottom: 1px solid $light-gray-color;
  }

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
  }
}

.user-list__item {
  border-bottom: 1px solid $light-gray-color;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    padding: 0;
    border: none;
  }
}

.user-list__link {
  display: block;
  text-decoration: none;
  color: $dark-color;
  padding: 27px 32px 27px 30px;


  &--search {
    @media (min-width: $tablet-width) {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 82px;
      height: 88px;
      border-right: 1px solid $light-gray-color;
      border-left: 1px solid $light-gray-color;

      &:hover .user-list__icon--search {
        fill: $accent-color;
      }

      &:active .user-list__icon--search {
        fill: $icon-active-color;
      }
    }
  }

  &--cart {
    @media (min-width: $tablet-width) {
      display: flex;
      align-items: center;
      height: 100%;
      padding: 0;

      &:hover .user-list__icon--cart {
        fill: $accent-color;
      }

      &:active .user-list__icon--cart {
        fill: $icon-active-color;
      }
    }
  }

  &:hover {
    color: $link-hover-color;
  }

  &:active {
    color: $placeholder-color;
  }
}

.user-list__icon {
  margin-right: 25px;
  vertical-align: middle;
  fill: $icon-color;

  &--search {
    @media (min-width: $tablet-width) {
      margin: 0;
    }
  }

  &--cart {
    @media (min-width: $tablet-width) {
      margin-left: 25px;
    }
  }
}

.search-text {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
