.product {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
}

.product__item {
  border: 1px solid #ececec;
  padding-bottom: 27px;
  margin-bottom: 30px;
}

.product__img-wrapper {
  margin: 0;
  margin-bottom: 28px;
  background-color: #ececec;
}

.product__img {
  display: block;
}

.product__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  margin: 0;
  margin-left: 28px;
  margin-bottom: 8px;
}

.product__text {
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  margin: 0;
  margin-left: 28px;
}

.product__link::after {
  display: inline-flex;
  width: 204px;
  content: "";
  border-bottom: 1px solid #ececec;
  margin-left: 28px;
  margin-bottom: 23px;
}

.product__info {
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
}

.product__price {
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
}

.product__button {
  width: 20px;
  height: 19px;
  display: inline-flex;
  background-image: url("../img/product/cart.svg");
  background-repeat: no-repeat;
  border-style: none;
  background-color: transparent;
}
