// Devices

$tablet-width: 768px;
$desktop-width: 1150px;

// Font

$font-main: "Open Sans", sans-serif;

// Colors

$white-color: #ffffff;
$dark-color: #000000;
$gray-color: #444444;
$light-gray-color: #f1f1f1;
$darken-gray-color: #ececec;
$background-gray-color: #f9f9f9;
$accent-color: #63d1bb;
$blur-color: rgba(255, 255, 255, 0.9);
$shadow-color: rgba(0, 1, 1, 0.25);
$border-color: #c6c6c6;
