// Devices

$tablet-width: 768px;
$desktop-width: 1150px;

// Font

$font-main: "Open Sans", sans-serif;

// Colors

$white-color: #ffffff;
$dark-color: #000000;
$gray-color: #444444;
$light-gray-color: #f1f1f1;
$darken-gray-color: #ececec;
$accent-color: #63d1bb;
