// Devices

$tablet-width: 768px;
$desktop-width: 1150px;

// Font

$font-main: "Open Sans", sans-serif;

// Colors

$white-color: #ffffff;
$dark-color: #000000;
$gray-color: #444444;
$light-gray-color: #f1f1f1;
$darken-gray-color: #ececec;
$placeholder-color: #b3b3b3;
$background-gray-color: #f9f9f9;
$accent-color: #63d1bb;
$accent-hover-color: #59d5bc;
$second-accent-color: #56c3b2;
$second-accent-hover-color: #46c1ae;
$blur-color: rgba(255, 255, 255, 0.9);
$shadow-color: rgba(0, 1, 1, 0.25);
$shadow-product: rgba(0, 0, 0, 0.1);
$border-color: #c6c6c6;
$border-active-color: #ecf9f7;
$link-hover-color: #666666;
$link-second-hover-color: #bee3dd;
$icon-color: #cccccc;
$icon-active-color: #d0f1eb;
$button-text-active-color: #7c7c7c;
