.page__body {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #444444;
  margin: 0;
}

.visually-hidden {
  display: none;
}

.button {
  background: #ffffff;
  border: 2px solid #444444;
  padding: 16px 70px;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
}
